
<div class="container">
    <div class="leftcolum">
        <div class="card">
        <% @posts.each do |post| %>
            <h2><%= post.title %></h2>
            <p>Tag: <%= post.all_tags %></p>
            <h5><%= time_ago_in_words(post.created_at)%></h5>
            <div class="fakeimg"><%= image_tag post.image_url.to_s %></div>
            <p><%= truncate(post.content, :length => 50) %></p>
            <%= link_to 'Read More →', post_path(post) %>
        <% end %>
        </div>
    </div>
    <%= render 'rightcolumn' %>
</div>