<div class="container-fluid">
	<div class="row">
		<div class="navbar navbar-default navbar-fixed-top">
			<header id="header-site">
				<!--Begin::Header right-->
        
				<ul class="nav navbar-right pull-right top-nav">
					<%= form_tag(@post_path, method: :get) do %>
					<%= text_field_tag :term, params[:term] %>
					   <%= submit_tag 'Search', title: nil %>
						 <% end %>
          <form class="navbar-form navbar-left">
            <div class="input-group">
            <div class="input-group-btn">
            </div>
            </div>
          </form>
					
					<li class="dropdown"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<img alt="" class="img-circle" src="https://static1.squarespace.com/static/55198f1ce4b00c2cab3e5e30/t/5526d500e4b009f3ec94b422/1428608282728/600x600%26text%3Dprofile+img.gif?format=300w" width="30"> 
							<span class="hidden-xs">Admin User</span> 
						</a>
						<ul class="dropdown-menu">
              <li><a href="users/sign_in"><i class="fa fa-fw fa-user"></i>Login</li>
              
							<li><a href="posts/new"><i class="fa fa-fw fa-user"></i>New Post</a></li>
							<li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
							<li class="divider"></li>
              <% if user_signed_in? %>
							<li><%= link_to('Log Out', destroy_user_session_path, :method => :delete)%><i class="fa fa-fw fa-power-off"></i></li>
              <% end %>
            </ul>
					</li>
				</ul>
				<!--End::Header Right-->
				<!--Begin::Nav-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li><%= link_to('Home', destroy_user_session_path, :method => :delete)%></li>
						<li><a id="about" href="#">About</a></li>
						<li><a id="" href="#">Service</a></li>
						<li><a id="" href="#">Contact</a></li>
					</ul>
				</div>
				<!--End::Nav--> 
			</header>
		</div>
	</div>
</div>